body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #005a9c;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select {
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #444;
}

#week-select {
  margin-right: 10px;
}

button {
  height: 40px;
  padding: 0px 20px;
  border: none;
  border-radius: 4px;
  background-color: #005a9c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004f8c;
}

#table-container {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  margin-top: 30px;
  width: 100%;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.error {
  color: red;
}

.form {
  display: flex;
  align-items: flex-end;
}
